# datasets
datasets/*
!datasets/README.md

# tools
tools/formatter
tools/formatter.exe

# virtual environments
venv/
env/

# Python artifacts
__pycache__?
*.pyc
*.pyo
*.pyd

# Models and adapters
kestrel-*